* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #073ed311;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    background-color: black;
    width: 280px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.text
{
    display: inline-block;
    text-align: center;
    margin: 20px 0;
}

.caculator
{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.text input
{
    width: 100%;
    background-color: transparent;
}

.text .btn,.text input
{
    padding: 10px;
    background-color: transparent;
    color: white;
}

.text .btn
{
    
    border-color: aliceblue;
}

.text .btn-new
{
    width: 110px;
    background-color: rgb(5, 89, 224);

}

.text .btn-special
{
    background-color: aliceblue;
    color: black;
    font-size: 20px;
}

.text .btn-Restart
{
    background-color: red;
}

.text input
{
    margin: 10px 0;
    border-color: white;
    border: 2px;
    outline: none;
    text-align: right;
    pointer-events: none;
}

.text .btn:active
{
    transform: scale(1.1);
}

